.header {
  padding: 17px 0;

  &__container{
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  align-items: center;
  padding-right: 16px;

  &__list {
    align-items: center;
    gap: 20px;
  }

  &__link {
    font-size: var(--main-size);
    color: var(--dark-shade50);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    @include hover {
      color: var(--purple-color);
    }

    &--enter {
      font-size: 12px;
      padding: 10px 20px;
    }
  }
}
