.hero {
  min-height: 830px;
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.calendar {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #555;
  color: #fff;
  padding: 10px;
}
.weekdays {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 10px;
}
.days {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  min-height: 200px;
  border: 2px solid #aaa;
  border-top: none;
}
.day {
  width: 14.28%;
  padding: 10px;
  border-top: 2px solid #aaa;
  border-right: 2px solid #aaa;
}
