<footer class="footer">
  <div class="footer__top">
    <div class="container grid">
      <div class="footer__column">
        <a class="footer__logo" href="#">
          <img class="footer__img" src="../img/Logo.svg" alt="toxin logo" />
        </a>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <p class="footer__text" href="#">
              Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            </p>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h2 class="footer__title" href="#">навигация</h2>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">О нас</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Новости</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Служба поддержки</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Услуги</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h2 class="footer__title" href="#">о нас</h2>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">О сервисе</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Наша команда</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Вакансии</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Инвесторы</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h2 class="footer__title" href="#">Служба поддержки</h2>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Соглашения</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Сообщества</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Связь с нами</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h2 class="footer__title" href="#">Подписка</h2>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <p class="footer__text" href="#">
              Получайте специальные предложения и новости сервиса
            </p>
            <form class="footer__form">
              <input class="footer__input" type="text" placeholder="E-mail">
              <button class="footer__btn btn-reset">
                <img src="../img/rightarow.svg" alt="">
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__container">
      <p class="footer__text">
        Copyright © 2018 Toxin отель. Все права защищены.
      </p>
      <div class="footer__social">
        <ul class="footer__sublist list-reset">
          <li class="footer__sublist-item">
            <a class="footer__sublist-link" href="#">
              <img src="../img/twitter.svg" alt="">
            </a>
          </li>
          <li class="footer__sublist-item">
            <a class="footer__sublist-link" href="#">
              <img src="../img/facebook.svg" alt="">
            </a>
          </li>
          <li class="footer__sublist-item">
            <a class="footer__sublist-link" href="#">
              <img src="../img/instagram.svg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
