<header class="header">
  <div class="container flex header__container">
    <a class="logo" href="#">
      <img class="img" src="../img/Logo.svg" alt="toxin logo" />
    </a>
    <nav class="nav flex" title="Main navigation">
      <ul class="list-reset nav__list flex">
        <li class="nav__item">
          <a href="#" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Услуги</a>
          <svg
            width="12"
            height="8"
            viewBox="0 0 12 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z"
              fill="#1F2041"
              fill-opacity="0.5"
            />
          </svg>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Вакансии</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Новости</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Соглашения</a>
          <svg
            width="12"
            height="8"
            viewBox="0 0 12 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z"
              fill="#1F2041"
              fill-opacity="0.5"
            />
          </svg>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link--enter nav__link--uncolored">войти</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link--enter nav__link--colored"
            >зарегистрироваться</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
